body
{
    margin: 0;
    padding: 0;
    font-family: "EB Garamond", serif;
    width: 100%;
    height: auto;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/siteimage6.jpg");
}

/* nav bar */

ul
{
    top: 0;
    left: 0;
    margin-top: 25px;
    padding: 10px 100px;
    box-sizing: border-box;
    float: right;
    list-style: none;
    display: flex;
    transition: 0.5s;
}

ul li
{
    display: inline-block;
    margin-right: 20px;
    font-family: "Cinzel", serif;
}

ul li a
{
    text-decoration: none;
    color: #ffffff;
    padding: 5px, 20px;
    text-transform: uppercase;
    transition: 0.5s;
}

ul li a.active,
ul li a:hover
{
    color: #fff;
    background: #630808;
}

ul li.active 
{
    background-color: #630808;
    color: #fff;
}

.logo img
{
    float: left;
    margin-left: 25px;
    width: 150px;
    height: auto;
    transition: 0.5s;
}

/* appointment div */

section
{
    position: absolute;
    top: 25%;
    left: 8%;
    height: 600px;
    width: 1400px;
    background-color: gray;
    opacity: 80%;
    box-shadow: 0 25px 30px rgba(0,0,0,.5);
    display: flex;
}

/* left box */
.content
{
    width: calc(50% - 50px);
    height: 100%;
    background: #fff;
    box-sizing: border-box;
    padding: 30px 50px;
    font-family: "Cinzel", serif;
    color: #000;
    text-align: center;
}

.contentRow h1
{
    font-family: "Cinzel", serif;
    margin-top: 40%;
    text-align: center;
    font-size: 700;
    color: #000;
}

.contentRow p
{
    font-family: "Cinzel", serif;
    text-align: center;
}

/* right box */
.content1
{
    font-family: "Cinzel", serif;
    color: #630808 ;
    text-align: center;
}

.formBox
{
    width: calc(50% + 50px);
    height: 100%;
    box-sizing: border-box;
    background:gray;
    border-left: 100px solid #fff;
    border-bottom: 600px solid;
    font-family: "Cinzel", serif;
}

.form-body
{
    text-align: center;
    color: #fff;
    padding: 15px;
    font-family: "Cinzel", serif;
}

input[type=text]
{
    font-family: "Cinzel", serif;
    width: 50%;
    font-weight: bold;
    color:black;
}

input[type=dat]
{
    font-family: "Cinzel", serif;
    width: 50%;
    font-weight: bold;
    color:black;
}

.form-control 
{
    padding: 8px;
}
.form-control:hover
{
    box-shadow: gray;
    border: 3px solid #630808;
}
.no-margin
{
    margin: 0px;
}

.inner-layer
{
    position: absolute;
    width: 50%;
    height: 50%;
    margin-top: 3%;
    left: 52%;
}

.btn-appointment
{
    background-color: #630808;
    border-color: #fff;
    width: 50%;
    margin: 5%;
    padding: 10px;
    font-family: "Cinzel", serif;
    font-weight: 700;   
    font-size: 15px;
}

.btn-appointment:hover
{
    background-color: gray;
}

/* responsive */
@media screen and (max-width:976px)
{
    
}