body
{
    margin: 0;
    padding: 0;
    font-family: "EB Garamond", serif;
    width: 100%;
    height: auto;
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
}

/* nav bar */


.navbar ul
{
    top: 0;
    left: 0;
    margin-top: 25px;
    padding: 10px 100px;
    box-sizing: border-box;
    float: right;
    list-style: none;
    display: flex;
    transition: 0.5s;
}

.navbar ul li
{
    display: inline-block;
    margin-right: 20px;
    font-family: "Cinzel", serif;
}

.navbar ul li a
{
    text-decoration: none;
    color: #ffffff;
    padding: 5px, 20px;
    text-transform: uppercase;
    transition: 0.5s;
}

.navbar ul li a.active,
.navbar ul li a:hover
{
    color: #fff;
    background: #630808;
}

.navbar ul li.active 
{
    background-color: #630808;
    color: #fff;
}

.logo img
{
    float: left;
    margin-left: 25px;
    width: 150px;
    height: auto;
    transition: 0.5s;
}

/* content */
.galleryTitle
{
    color: #fff;
    position: relative;
}

.galleryTitle h1
{
    font-family: "IM Fell Great Primer SC", serif;
    font-size: 45px;
    position: absolute;
    margin-top: 5%;
    left: 44%;
    /* animation */
    -webkit-animation-duration:4s;
    -webkit-animation-delay: .8s; 
}

/* carousel style */

.carousel-item img
{
    width: 30%;
    height: auto;
    margin-top: 15%;
    margin-bottom: 5%;
    margin-left: 35%;
}

.carousel-control-prev,
.carousel-control-next
{
    width: 50px;
    height: 50px;
    background-color: #000000;
    border-radius: 30%;
    top: calc(50% - 25px);
}
